.tab-content {
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-top: none;
    transition: transform 0.5s ease-in-out;
  }

  .tab-content.spinning {
    transform: rotate(360deg);
  }
