.star-wars {
  perspective: 1000px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.crawl {
  position: relative;
  width: 80%;
  max-width: 800px;
  height: 93%; /* Allow the full height of the container */
  overflow: hidden;
  transform: rotateX(20deg); /* Tilt the text for a better Star Wars effect */
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}

.crawl p {
  margin: 0;
  color: yellow;
  font-family: 'Roboto', sans-serif;
  white-space: pre-line; /* Changed to pre-line to preserve formatting */
  position: absolute;
  top: 100%;
  animation: crawl-animation 60s linear; /* Adjust duration as needed */
}

@keyframes crawl-animation {
  0% {
    top: 100%;
  }
  100% {
    top: -200%; /* Ensure it scrolls out of view */
  }
}
